

# ── Domain ──
DOMAIN=localhost

# ── PostgreSQL ──

POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass

# ── SQL Server ──

MSSQL_SA_PASSWORD=Andromeda@123456

# ── Django (shared) ──

DJANGO_SECRET_KEY=Andromeda@123456

# ── Redis ──

REDIS_URL=redis://redis:6379/0

# ConnectionStrins
ConnectionStrings__Default=Server=sqlserver;Database=UserService;User Id=sa;Password=Andromeda@123456;TrustServerCertificate=True

# jwt
JWTConfig__Audience=AndromedaAppUsers
JWTConfig__Issuer=AndromedaApp
JWTConfig__SecretKey=+c,wK}$Z9xbDDe9Y$dZ{t2i-y#L$8mkt-%gY(&x*j4m4
JWTConfig__TimeoutInMin=20
